a.selected {
    text-decoration: underline;
}

.navList li a { 
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    color: #3F4344;
    padding: 14px 16px;
}

.navList li {
    display: inline-block;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C1C1C1;
    border: 1px solid #b1b1b1;
    text-align: right;
}

.route {
    margin: 30px;
    padding: 30px;
}

.route div {
    padding: 10px;
}